body {
			margin:0;
			counter-reset: numero;
		}
		
		a { 
			text-decoration:none;
			-webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out; 
		}
		a:hover {
			-webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
		}
		
        pre, textarea, xmp {
            padding:5px 10px;
            overflow:scroll;
            width:calc(100% - 20px);
        }
        u {
            text-decoration:none;
        }
        
        iframe.tmblr-iframe {
            z-index:99999999999999!important;
            top:2px !important;
            right:25px !important;
            opacity:1;
            transform:scale(0.65);
            transform-origin:100% 0;
            -webkit-transform:scale(0.65);
            -webkit-transform-origin:100% 0;
            -o-transform:scale(0.65);
            -o-transform-origin:100% 0;
            -moz-transform:scale(0.65);
            -moz-transform-origin:100% 0;
            -ms-transform:scale(0.65);
            -ms-transform-origin:100% 0;
        }
		
		#content {
		    margin:40px auto 0 auto;
		}
		#content img {
			max-width:100%;
			height:auto;
		}
		h1.solution {
		    padding:20px;
		}
		
		.post {
			text-align:justify;
			line-height:25px;
		}
		.post h1 a, .post img a, a.read_more {
		    border:none !important;
		}
		.photoset .caption {
		    clear:left;
		    padding:2px 20px 10px 20px;
		}
		.photo .caption {
		    padding:0 20px 10px 20px;
		}
		.post img {
		    margin-bottom:-4px;
		}
		
		.post h1 {
			text-align:center;
			font-weight:500;
			font-size:35px;
			line-height:1.2em;
		}
		.post h1 span {			
			display:inline-block;
		}
		blockquote {
		    border-style:solid;
		    border-width:1px 1px 1px 3px;
		    margin:0 0 0 0;
		    padding:10px 20px;
		}
		.post u {
		    text-decoration:none;
		}
		.photo .link-permanente {
		    margin:-4px 0 0 0;
		}
		.photo .caption blockquote {
		    padding:0px 20px !important;
		}
		.caption blockquote {
		    padding:5px 20px;
		    margin-bottom:12px;
		}
		.caption {
		    padding:20px;
		    margin:0;
		}
		.post .photoset_count_cavi {
		    position:absolute;
		    display:inline-block;
		    padding:3px 10px;
		    border-radius:3px;
		    margin:10px 0 0 10px;
		    font-family:Montserrat;
		    font-size:13px;
		    font-weight:600;
		    z-index:1;
		}
		.post .photoset_count_cavi span {
		    position:relative;
		    top:1px;
		    margin-right:3px;
		}
	   form#mobile_menu {
            top:0;
            text-align:center;
            position:fixed;
            z-index:9999999;
            width:100%;
            display:none;
        }
       form#mobile_menu select {
           text-align:center;
            padding:10px 15px;
            outline:none;
            background:#000;
            border:none;
            color:#fff;
            text-transform:uppercase;
            font:16px Oswald;
            margin:0 auto;
            display:block;
            width:100%;
        }
        #mobile_menu option {
            outline:none;
            border:none;
        }
		
	    ul#following {
            margin:0 0 0 -40px;
            max-height:400px;
            overflow:hidden;
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
        }
        ul#following:hover {
            overflow-y:auto;
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
        }
        ul#following li {
            list-style-type: none;
            display:block;
            padding:10px 5px 11px 5px;
            margin-bottom:-1px;
        }
        ul#following li img {
            width:24px;
            border-radius:3px;
            margin-right:10px;
            display:inline-block;
            float:left;
        }
        ul#following li a.followed {
            line-height:1.6em;
            display:inline-block;
        }
        ul#likes {
            list-style-type: none;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }

        li.like_post {
            width:100%;
            padding: 15px 0px 15px 0;
            display:inline-block;
        }
        li.like_post img {
            width: 100%;
        }
        
        li.like_post blockquote {
        }
        
        li.like_post ol,
        li.like_post ul {
            margin: 0 0 0 15px;
            padding: 0;
        }
        
        li.like_post .like_link a {
            font-weight: bold;
        }
        
        li.like_post .like_title {
            font-weight: bold;
        }
        
        li.like_post .post_info_bottom {
            margin: 10px 0 0 0;
            display: block !important;
        }
        
        ::-webkit-scrollbar {height:5px; width:5px;}
		
		hr {
		    width:50%;
		    margin:0 auto;
		    display:block;
		    height:0.5px;
		    border-bottom:none;
		    border-color:transparent;
		}
		a.read_more {
		    display:block;
		    margin:10px auto;
		    box-shadow:inset 0 100px 0 0 transparent;
		    max-width:400px;
		    padding:10px;
		    text-align:center;
		    text-transform:uppercase;
		    font-weight:500;
		    font-size:12px;
		}
		
		.text h1:first-child {			
			margin:5px 0 0 0;
		}		
		
		.cchat {
		    padding:20px;
		}
		.cchat h1 {
		    margin:0 !important;
		    padding:0;
		}
		.cchat h1 span {
		    margin:0 !important;
		}
		ul.chat {
			margin:0 0 0 -40px;			
		}
		ul.chat li {
			list-style:none;
			padding:10px 15px;			
		}		
		ul.chat li:nth-child(odd) {
			border-radius:0 25px 25px 25px;			
			margin:0 20px 5px 0;
		}
		ul.chat li:nth-child(even) {		
			border-radius:25px 0px 25px 25px;			
			margin:0 0 5px 20px;
			text-align:right;
			background:transparent;
		}	
		
		.videomsm .caption {
		    padding-bottom:20px;
		    margin-top:-25px;
		}
		
        .answer .answerer img {
            max-width:100%;
            height:auto;
        }
        .answer .question {
            padding:25px 15px 15px 15px;
            position:relative;
            text-align:justify;
        }
        .answer .question .asker span {
            text-transform:uppercase;
            font-weight:600;
            font-style:normal;
            margin:0 0 0 50px;
            display:inline-block;
            position:relative;
            top:-22px;
            letter-spacing:0px;
        }
        .answer .question .asker {
            display:block;
            padding:14px 17px 0px 17px;
            margin:-25px 0 15px -15px;
            width:calc(100%  - 4px);
            text-align:left;
        }
        .answer .question .asker img {
            width:40px;
            border-radius:3px;
            position:relative;
            display:block;
            margin-bottom:-10px;
        }
        .answerer {
            padding:5px 15px 0px 15px;
            text-align:left;
        }
        
        .audio {
        }
        
        .audio .audio_desc ul li {
            list-style:none;
            margin-bottom:-1px;
            padding:8px;
        }
        .audio .audio_desc ul li span {
            display:inline-block;
            margin-right:6px;
        }
        .audio .audio_desc ul li.add {
            padding:0;
            border:none;
            height:28px;
            margin-top:1px;
        }
        .audio .audio_desc ul li.music_name {
            border:none;
            padding:10px 9px;
            font-family:Montserrat;
            text-transform:uppercase;
            letter-spacing:1px;
            font-size:14px;
            font-weight:600;
        }
        
		.quote .caption {
		    padding:30px 30px 15px 30px;
		}
		.quote .link-permanente {
		    padding:15px 0 15px 0;
		}
		.quote .post-tags {
		    padding:10px 0 0 0;
		}
		.quote a, .quote b {
		    border:none;
		}
		.qq	 {
		    text-align:center;
		    padding-bottom:10px;
		    font-size:25px;
		    font-family:Playfair Display;
		    font-style:italic;
		    line-height:1.1em;
		}
		.quote .source {
		    margin:10px auto 15px auto;
		    text-align:center;
		}
		.quote .source span {
		    position:relative;
		}
		.quote .source span:before {
		    content:"";
		    position:absolute;
		    top:-10px;
		    width:50%;
		    height:3px;
		    left:50%;
		    -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
		}
		.source, .qq h1 {
		    font-style:normal;
		    font-size:15px;
		    margin-top:7px;
		}
		.post-tags {
		    text-align:left;
		    margin-top:-15px;
		    padding:10px;
		    font-size:11px;
		    line-height:1.1em;
		}
		.post-tags a {
		    display:inline-block;
		    padding:5px 5px;
		    border-radius:5px;
		    position:relative;
		    margin:2px 0 2px 9px;
		    border:none;
		}
		.post-tags a:after, .post-tags a:before {
        	right:calc(100% - 1px); 
        	top:calc(50% + 0px);
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        }
        .post-tags a:after {
        	border-color: rgba(238, 238, 238, 0);
        	border-width: 8px;
        	margin-top: -8px;
        }
        .post-tags a:hover {
            text-decoration:underline;
        }
        .link-permanente {
            padding:15px;
            margin:0;
        }
        .link-permanente ul {
            margin:0px 0 0 -40px;
        }
        .link-permanente ul li {
            list-style:none;
            display:inline-block;
        }
        .link-permanente ul li a { 
            margin:0 15px 0px 0;
            border:none;
        }
        span.lnr {
            position:relative;
            top:1px;
        }
        .link-permanente ul li a:hover { 
            text-decoration:line-through;
        }
		
        #notas {
            margin:0px 0 0 0;
        }
        .notes li img {
            width:40px;
            border-radius:100%;
            float:left;
            top:-8px;
            position:relative;
            margin-right:0px;
        }
        ol.notes {
            margin:0 0 0 -40px;
    		max-height:400px;
    		overflow-y:auto;
        } 
        .notes li {
            list-style:none;
            width:calc(100% - 28px);
            padding:14px;
        }
        .notes li a { 
            margin:0 5px; 
            font-weight:600;
            text-decoration:underline;
            border:none;
        }
        li.more_notes_link_container a {
            text-decoration:none;
        }
        li.more_notes_link_container {
            text-transform:uppercase;
            font-weight:600;
            letter-spacing:1px;
            border-bottom:none;
        }
        .notinhas {
            margin-top:40px;
        }
        h1.post_info {
            margin:20px auto;
        }
        .disqus h1.post_info { margin:10px auto; }
        h1.post_info:after, h1.post_info:before {
            display:none;
        }
        
        .alt-perma {
            float:right;
            text-align:left;
            position:relative;
            height:380px;
            left:-0px;
            width:calc(40% - 61px);
            padding:10px 30px 30px 30px;
        }
        .alt-perma .alt-style-desc {
            margin-top:-10px;
        }
        .alt-perma .alt-style-desc blockquote {
            border:none;
            padding:0;
            margin:0;
        }
        .alt-perma ul.alt-perma-list {
            padding:0;
            margin:-40px 0 0 0;
            font-weight:900;
            text-transform:uppercase;
            font-size:13px;
        }
        .alt-perma ul.alt-perma-list li {
            text-align:left;
            list-style:none;
            display:inline-block;
        }
        .alt-perma ul.alt-perma-list li a {
            display:inline-block;
            margin:0 10px 5px 0;
            border:none;
        }
        .alt-perma ul.alt-perma-list li a span {
            margin-right:5px;
            display:inline-block;
            font-weight:900;
        }
        .fim-read {
            height:120px;
            width:calc(100% + 0px);
            margin-left:-30px;
            text-align:left;
            bottom:26%;
            position:absolute;
            font-weight:900;
        }
        .fim-read a {
            font-weight:900;
            text-transform:uppercase;
            font-size:12px;
            padding:5px 0;
            display:inline-block;
            border:none;
            margin:67px 0 0 30px;
        }
        .link h2.link-title {
            display:block;
            font-weight:600;
            border:none;
            font-size:27px;
            margin:0 0 10px 0;
        }
        .link a.link-name {
            padding:30px;
            display:block;
            text-align:left;
            border:none;
            font-style:italic;
        }
        .link a.link-name span.fa {
            display:inline-block;
            color:rgba(0,0,0,0.6);
            border:1px solid rgba(0,0,0,0.1);
            background:rgba(0,0,0,0.2);
            margin-right:10px;
            font-size:15px;
            padding:5px;
            border-radius:100%;
            width:15px;
            vertical-align:middle;
            text-align:center;
        }
        .link a.link-thumb {
            border:none;
            margin-bottom:-5px;
            padding:0;
            display:block;
        }
        .link a.link-thumb img {
            -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
            filter: brightness(60%);
        }
        .link a.link-name sub {
            font-size:14px;
            font-weight:400;
            display:block;
            text-transform:none;
        }
        .link a.link-name:hover h2 {
            text-decoration:underline;
        }
        .link .description {
            text-transform:none;
            background:transparent !important;
        }
        
        .perma-pagination {
            padding:0;
            font-size:14px;
        }
        .perma-pagination ul {
            margin:0 0 0 -40px;
        }
        .perma-pagination ul li {
            list-style:none;
        }
        
        .perma-pagination a {
            padding:15px;
            display:inline-block;
            text-transform:uppercase;
            font-weight:500;
        }
        .perma-pagination a:hover {
            text-decoration:underline;
        }
        .perma-pagination a.prv span {
            display:inline-block;
            margin:0 10px 0 0;
            text-shadow:1px 1px 10px rgba(0,0,0,0.3);
        }
        .perma-pagination a.nxt span {
            display:inline-block;
            margin:0 0 0 10px;
            text-shadow:1px 1px 10px rgba(0,0,0,0.3);
        }
        .perma-pagination a.nxt {
            float:right;
        }
		
	    article.related-posts {
            display:inline-block;
            width:26%;
            max-height:200px;
            vertical-align:top;
            padding:10px;
            margin:0 20px 20px 0;
            overflow:hidden;
            text-align:left;
            -webkit-transition: all 0.8s ease-out;
            -moz-transition: all 0.8s ease-out;
            -ms-transition: all 0.8s ease-out;
            -o-transition: all 0.8s ease-out;
            transition: all 0.8s ease-out;
        }
        article.related-posts .question {
            padding:0 0 10px 0;
            width:100%;
            text-align:justify;
        }
        article.related-posts answer {
            padding:0px 0 0 0;
            display:block;
            text-align:left;
        }
        article.related-posts:hover {
            overflow-y:auto;
        }
        article.related-posts img {
            max-width:100%;
            height:auto;
        }
        article.related-posts span.permalink {
            padding:7px;
            position:absolute;
            margin:-11px 0 0 -11px;
            text-transform:uppercase;
            font-size:11px;
            font-weight:500;
            border-radius:0 0 3px 0;
            opacity:0;
            font-weight:600;
            -webkit-transition: all 0.8s ease-out;
            -moz-transition: all 0.8s ease-out;
            -ms-transition: all 0.8s ease-out;
            -o-transition: all 0.8s ease-out;
            transition: all 0.8s ease-out;
        }
        article.related-posts:hover span.permalink {
            opacity:1;
            -webkit-transition: all 0.8s ease-out;
            -moz-transition: all 0.8s ease-out;
            -ms-transition: all 0.8s ease-out;
            -o-transition: all 0.8s ease-out;
            transition: all 0.8s ease-out;
        }
        h1.related-title {
            font-weight:600;
            text-transform:uppercase;
            letter-spacing:10px;
            margin:0 auto 30px auto;
        }
        
		section#related { margin:0 0 40px 0; text-align:center; }
		
		aside {
			float:right;
		}
		aside .boxs {
			padding:25px;
			margin:0 0 40px 0px;
		}
		aside .boxs-title {
		    font-family:Montserrat;
		    font-size:14px;
		    font-weight:600;
		    text-align:center;
		    padding-bottom:5px;
		    margin-bottom:20px;
		    text-transform:uppercase;
		    position:relative;
		}
		aside .boxs-title span {
		    display:inline-block;
		}
		aside .boxs-title span:before {
		    width:30px;
		    height:3px;
		    bottom:-2px;
		    position:absolute;
		    content:"";
		    left:50%;
		    -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
		}
		aside .twitter .boxs-title {
		    border:none;
		}
		.boxs-alt {
		    padding:0 !important;
		    margin:0 0 60px 0px;
		}
		.alt-follow {
		    padding:15px;
		    margin:-5px 25px 45px 25px;
		    border:none;
		    border-radius:100%;
		}
		.alt-follow img {
		    border-radius:100%;
		}
		
	    .sform input { 
            outline:none;
            border:none;
            padding:12px 12px;
            font-size:11px !important;
            font-weight:600;
            width:calc(100% - 25px);
            text-align:center;
            font-family:Montserrat;
            text-transform:uppercase;
        }
		#search input[type="submit"] {
            cursor:pointer;
            width:calc(100% + 2px);
            display:block;
            position:relative;
            padding:12px 15px 12px 10px;
            margin:5px 0 0 0;
            letter-spacing:1px; 
            text-transform:uppercase; 
            text-align:center;
            font-weight:600;
            border:none !important;
            -webkit-transition:all 0.3s ease-out;
            -moz-transition:all 0.3s ease-out;
            transition:all 0.3s ease-out;
        }
        #search input[type="submit"]:hover { 
            text-decoration:underline;
            -webkit-transition:all 0.3s ease-out;
            -moz-transition:all 0.3s ease-out; 
            transition:all 0.3s ease-out;
        }
        
        .follow {
            width:100%;
            overflow:hidden;
            position:relative;
            border-radius:100%;
        }
        .follow .follow-text-bg {
            width:100%;
            height:100%;
            top:0;
            position:absolute;
            border-radius:100%;
        }
        .follow .follow-text-bg .follow-text {
            margin-top:50%;
            -moz-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align:center;
            padding:20px 10%;
            font-size:25px;
            font-family:Playfair Display;
            font-style:italic;
            color:#fff;
            text-shadow:1px 1px 0px rgba(0,0,0,0.5);
        }
        .follow .follow-text-bg .follow-text a {
            display:inline-block;      
            background:black;
            color:#fff;
            font-style:normal;
            font-family:Montserrat;
            margin-top:20px;                                             
            text-transform:uppercase;
            padding:10px 15px;
            font-size:11px;
            text-shadow:none;
            border-radius:4px;
        }
        .follow .follow-text-bg .follow-text a:hover {
            color:black;
            background:#fff;
        }
        .follow img {
            width:100%;
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-filter: blur(5px) brightness(70%); /* Safari 6.0 - 9.0 */
            filter: blur(5px) brightness(70%);
            border-radius:100%;
        }
        
        .social {
        }
		.social ul {
		    margin:10px 0 0 -40px;
		}
		.social ul li  {
		    list-style:none;
		    display:inline;
		}
		.social ul li a {
		    text-align:left;
		    padding:12px 15px;
		    display:block;
		    margin:0 0 4px 0;
		    border-radius:3px;
		}
		.social ul li a span {
		    display:inline-block;   
		    margin-right:10px;
		    padding-right:8px;
		    width:17px;
		    text-align:center;
		    border-right:1px solid rgba(255,255,255,0.3);
		}
		
		.about {
			background:transparent !important;
			padding:0 !important;
			border:none !important;
			text-align:center;
		}
		.about img {
			border-radius:100%;
			width:70%;
		}
		.about .description {
			text-align:justify;
			margin:10px auto 0 auto;
			width:90%;			
		}
		
		.bd_top { width:100%; z-index:99; position:fixed;left:0; top:0; height:40px;}
		
		.bd_top nav {
		    margin:12px auto 0 auto;
		    font-size:11px;
		    font-weight:500;
		    font-family:Montserrat;
		    text-transform:uppercase;
		}
		.bd_top nav ul {
		    margin:0 0 0 -15px;
		}
		.bd_top nav ul li {
		    list-style:none;
		    display:inline-block;
		}
		.bd_top nav ul li a {
		    margin:0 0 8px 8px;
		}
		.bd_top nav ul li a:hover{
		    text-decoration:underline;
		}
		.banner {
		    margin:20px auto 0px auto;
		    padding-bottom:0px;
		}
		.banner img {
		    max-width:100%;
		    margin-bottom:-5px;
		}
		header {
			width:100%;
			margin:25px auto 15px auto;
			background-size:100% auto;
			background-attachment:fixed;
		}
		header h1.blog-title {
			text-align:center;
			position:relative;
			margin:0 auto 0px auto;	
			padding-top:37px;
			font-size:50px;
			text-shadow:1px 1px 10px rgba(0,0,0,0.3);
		}
		header h1.blog-title span {
			display:inline-block;
			margin:0 auto;
		}
		header h1 span.alt {
		    font-family:Playfair Display;
			font-style:italic;
			text-transform:lowercase;
		}
        header .h-subtitle {
            width:calc(100% - 10px);
            overflow: hidden;
            text-align:center;
            font-size: 12px;
            letter-spacing:0px;
            text-transform:uppercase;
            margin:-8px 0 0px 0;
            padding:10px;
            font-weight:600;
            font-family:Montserrat;
        }
        header .h-subtitle > span{
            position: relative;
            display: inline-block;
        }
        header .h-subtitle > span:before, header .h-subtitle > span:after{
            content: "";
            position: absolute;
            top: 68%;
            border-bottom: 4px double;
            width: 591px;
            margin: -5px 15px;
        }
        header .h-subtitle > span:before{
            right: 100%;
        }
        header .h-subtitle > span:after{
            left: 100%;
        }
        
        #links .sform input { 
            outline:none;
            border:none;
            padding:15.5px 12px;
            font-size:11px !important;
            font-weight:600;
            width:140px;
            margin-top:-46px;
            text-align:center;
            font-family:Montserrat;
            text-transform:uppercase;
            float:right;
            border-right:none !important;
        }
		#links {
		    font-weight:600;
		    position:relative;
		    z-index:1;
		}
		#links nav {
		    padding:0px 0;
		    font-family: 'Montserrat', sans-serif;
		    font-size:12px;
		    text-transform:uppercase;
		}
		#links nav ul {
		    margin:0 auto;
		    padding-left:0;
		    text-align:left;
		}
		#links nav ul li {
		    list-style:none;
		    display:inline-block;
		    padding:15px;
		    margin:0;
		    position:relative;
		}
		#links nav ul li a {
		    text-decoration:none;
		}
		#links nav ul li a:hover {
		    text-decoration:line-through;
		}
		#links nav ul li span {
		    display:inline-block;
		    margin-left:5px;
		}
		#links nav ul li.more:after, #links nav ul li.more2:after { 
            margin: 0 0 0 7px;
            top: 0px;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font: normal normal normal 14px/1 FontAwesome;
            position: relative;
            font-weight: 400; content: "\f078";
		}
		#links nav ul li.more ol {
		    display:none;
		    padding:0;
		    text-align:left;
		    min-width:200px;
		    position:absolute;
		    margin:12px 0 -2px -25px;
		    font-weight:600;
		    font-size:11px;
		}
		#links nav ul li.more:hover ol {
		    display:block;
		}
		#links nav ol li a {
		    padding:10px 15px;
		    width:calc(100% - 30px);
		    display:inline-block;
		    vertical-align:middle;
		    -webkit-box-shadow:inset 10px 0 0 0 transparent;
            box-shadow:inset 10px 0 0 0 transparent;
		    -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
		}
		#links nav ol li a:hover {
		    text-decoration:none;
		    padding-left:30px;
		    width:calc(100% - 45px);
		    -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
		}
		#links nav ol li {
		    padding:0;
		    display:block;
		}
		#links nav ul li.more2 {
		    padding:15px;
		}
		#links nav ul li.more2:hover ul {
		    opacity:1;
		}
		#links nav ul li.more2 ul {
		    opacity:0;
		    position:absolute;
		    min-width:150px;
		    margin:-32px 0 0 0px;
		    left:100%;
		    border-right:none;
		}
		#links nav ul li.more2 ul li {
		    margin-left:-40px;
		    text-align:left !important;
		}
		#links nav .featured {
		    width:100%;
		    left:0;
		    background:red;
		    height:50px;
		    width:100%;
		    position:absolute;
		}
		#links nav li.new {
		    left:0 !important;
		}
		
		footer {
		    clear:both;
			width:100%;
			font-family:Montserrat;
		}
		footer h1.blog-title {
			text-align:center;
			position:relative;
			margin:30px auto 0px auto;	
			padding:30px 0 20px 0;
			font-weight:600;
			font-size:40px;	
			text-shadow:1px 1px 10px rgba(0,0,0,0.3);
		}
		footer h1.blog-title span {
			display:inline-block;
			margin:0 auto;
		}
		footer h1.blog-title sub {
			display:block;
			font-size:15px;
			font-style:normal;
			text-transform:uppercase;
			font-weight:500;
		}
		footer h1.blog-title sub i {
			text-transform:none;
		}
		footer ul#social {
		    margin:0 0 0px -0px;
		    text-align:center;
		    background:#000;
		    padding:10px 0 13px 0;
		    font-weight:600;
		}
		footer ul#social li {
		    list-style:none;
		    display:inline-block;
		}
		footer ul#social li a {
		    vertical-align:middle;
		}
		footer ul#social li a span {
		    font-size:20px;
		    width:22px;
		    text-align:center;
		    padding:11px;
		    display:inline-block;
		    margin:0 5px 0 0;
		    border-radius:100%;
		    position:relative;
		    top:0px;
		}
		footer ul#social li a span.fa-instagram {
		      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            font-size:25px;
            padding:9px 11px;
		}
		footer ul#social li a span.fa-facebook { background:#3b5998; }
		footer ul#social li a span.fa-skype { background:#00aff0; }
		footer ul#social li a span.fa-twitter { background:#00acee; }
		footer ul#social li a span.fa-globe { background:#fff; color:#000; }
		footer ul#social li a span.fa-google-plus { background:#d34836; }
		footer ul#social li a span.fa-envelope { background:#222; }
		footer ul#social li a span.fa-whatsapp { background:#25d366; }
		footer ul#social li a span.fa-youtube { background:red; }
		
		footer ul#social li a {
		    margin:0 15px 0 0;
		    font-size:12px;
		    text-transform:uppercase;
		    vertical-align:middle;
		    color:#fff;
		    font-weight:500;
		}
		
		.footer-finish {
		    clear:both;
		}
		
		#pagination {
            padding:10px 0 50px 0;
            margin:10px auto 0 auto;
            text-align:center;
            clear:both;
            text-transform:uppercase;
        }
        #pagination i.fa-angle-left, #pagination i.fa-angle-right {
            display:inline-block;
            transition:all 0.8s ease-in-out;
            -webkit-transition:all 0.8s ease-in-out;   
        }
        #pagination i.fa-angle-left {
            margin-right:5px;
        }
        #pagination i.fa-angle-right {
            margin-left:5px;
        }
        #pagination a:hover i.fa-angle-left {
            margin-right:15px;
            transition:all 0.8s ease-in-out;
            -webkit-transition:all 0.8s ease-in-out;   
        }
        #pagination a:hover i.fa-angle-right {
            margin-left:15px;
            transition:all 0.8s ease-in-out;
            -webkit-transition:all 0.8s ease-in-out;   
        }
        #pagination span {
            display:inline-block;
            padding:10px 15px;
            min-width:15px;
            text-align:center;
            margin:0 0 0 -1px;
            box-shadow:none !important;
        }
        #pagination span.current_page {
            text-decoration:line-through;
        }
        #pagination a {
            box-shadow:none !important;
            display:inline-block;
            padding:10px 15px;
            min-width:15px;
            text-align:center;
            margin:0 0 0 -1px;
        }
        #pagination span.total_pages { font-style:italic; }
        
        #instawrap {
            position:relative;
        }
        #instawrap:before {
            position:absolute;
            left:50%;
            top:100%;
            z-index:1;
            background:#fff;
            font-family:Montserrat;
            font-weight:500;
            text-transform:uppercase;
            font-size:13px;
            font-weight:500;
            padding:8px 10px;
            border-radius:0 0 5px 5px;
            text-align:center;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        #instafeed img {
            width:12.5%;
        	display:inline;
        	float:left;
            opacity:1;
            filter:alpha(opacity=100);
        }
        
        #instafeed img:hover {
            filter:alpha(opacity=80);
            opacity:0.8;
        }
        #instafeed .col-xs-4  {
            padding-bottom: 15px;
            padding-top: 15px;
        }
        
        ul#navigation {
            font-weight:600;
            margin:0 0 0 -40px;
            font-size:12px;
            text-transform:uppercase;
        }
        ul#navigation li {
            list-style:none;
            display:inline-block;
        }
        ul#navigation li a {
            margin:0 3px 5px 0;
            display:inline-block;
            padding:6px 11px;
            border-radius:25px;
            border-top-left-radius:0;
        }
        ul#navigation li a:hover {
            background:transparent;
        }
        ul#navigation li a:last-child {
        }
        
        .flickr_badge_image {margin:0px; display:inline; text-align:center; !important}
        .flickr_badge_image img { display:inline-block; margin:0 5px 2px 0; width:27.2% !important; padding:1px; 
            grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out; 
        }
        .flickr_badge_image img:hover {
            opacity:0.8;
            grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out; 
        }
        #flickr_badge_wrapper {width:100%; text-align:center !important;}
        
        .scrollup { 
            position: fixed;
            bottom: 0px; 
            right: 10px;
            padding:15px; 
            display:none; 
            z-index:10;
            padding-top:10px;
            padding-bottom:10px;
            font-size:20px;
            outline:1px solid transparent;
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out; 
        }
        
        .scrollup:hover { 
            outline-offset:-3px;
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out; 
        }
        .scrollup a { font-size:20px; }
        
        #nprogress {
            pointer-events: none;
        }
        #nprogress .bar {
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
        }
        #nprogress .peg {
            display: block;
            position: absolute;
            right: 0px; 
            width: 100px;
            height: 100%;
            opacity: 1.0;
            -webkit-transform: rotate(3deg) translate(0px, -4px);
            -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
        }
        
        .members {  
            margin-bottom:10px;
            padding-bottom:10px;
            position:relative;
        }
        .members:before {
            counter-increment: numero;
            content: "" counter(numero) "";
            position:absolute;
            padding:3px;
            border-radius:100%;
            top:0;
            left:0;
            font-family:Montserrat;
            font-size:11px;
            font-weight:600;
            text-align:center;
            width:14px;
        }
        .members:last-child {  
            margin-bottom:0px;
            padding-bottom:0px;
            border-bottom:none;
        }
        .members .name a {
            font-size:15px;
            font-weight:600;
            display:block;
            margin-bottom:1px;
        }
        .members .name a:first-letter {
            text-transform:uppercase !important;
        }
        .members .name {
            text-transform:lowercase;
            margin:-65.6px 0 0 61px;
            padding:10px 12px 9px 12px;
            border-radius:0 3px 3px 0;
            font-size:13px;
            position:relative;
            border-left:none !important;
        }
        .members img {
            width:60px;
            height:60px;
            border-radius:100%;
            padding:0px;
        }
        .members img { border:1px solid transparent;}   
        
        footer .bottom_bar {
            padding:20px;
            text-transform:uppercase;
            background:#000;
            color:#fff;
            font-weight:500;
            position:relative;
            z-index:11;
            font-size:12px;
        }
        footer .bottom_bar a {
            color:#fff;
        }
        footer .eu {
            float:right;
        }
        footer .eu a {
            border-bottom:1px solid;
        }

    	.seureblog {
                text-align:left;
                padding:0 10px 1px 0;
                height:calc(100% - 1px);
                width:calc(100% - 10px);
                position:absolute;
                transition:all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                z-index:2;
                opacity:0;
            }
            .translate {
                margin-top:-20px;
            }
            .seureblog:hover {
                opacity:1;
                transition:all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
            }
            .seureblog ul.info {
                margin:10px 0 0 -25px;
            }
            .seureblog ul.info li {
                list-style:none;
            }
            .seureblog ul.info li.notinhas a {
                font-size:30px;
                border:none;
            }
            .seureblog ul.info li.rbgl a {
                border:none;
            }
            .seureblog ul.info li a {
                font-size:10px;
                text-transform:uppercase;
                display:inline-block;
                margin:0 4px 0 4px;
                border-bottom:1px solid rgba(255,255,255,0.3);
            }
            
            #anuncio {
                padding:10px 0;
                max-width:40%;
                margin:0px auto 30px auto;
                text-align:center;
                clear:both;
            }
            #anuncio img {
                max-width:100%;
            }
            #alt-social {
                text-transform:uppercase;
                text-align:center;
                font-size:12px;
                font-weight:600;
                margin:10px auto 0 auto;
                font-family:Montserrat;
            }
            #alt-social a {
                display:inline-block;
                width:calc(25% - 46px);
                padding:20px;
                color:#fff;
                vertical-align:bottom;
            }
            #alt-social a.insta {
                background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
            #alt-social a.twitter {
                background:#00acee;
            }
            #alt-social a.youtube {
                background:#ff0000;
                position:relative;
                top:1px;
            }
            #alt-social a.facebook {
                background:#3b5998;
            }
            
            .extra-box-quote {
                text-align:center;
            }
            .extra-box-quote b {
                font-family:Playfair Display;
                font-weight:400;
                font-size:20px;
            }
            .extra-box-quote sub {
                display:block;
                margin-top:2px;
            }
            
            .extra-box-music {
                text-align:center;
                
            }
            .extra-box-music b {
                font-family:Playfair Display;
                font-weight:400;
                font-size:20px;
            }
            .extra-box-music sub {
                display:block;
                margin-top:2px;
            }
            .extra_title {
                overflow: hidden;
                text-align:center;
                font-size:30px;
                letter-spacing:0px;
                text-transform:uppercase;
                margin:0px auto 10px auto;
                padding:10px;
                font-weight:600;
             }
            .extra_title > span{
                position: relative;
                display: inline-block;
            }
            .extra_title > span:before, .extra_title > span:after{
                content: "";
                position: absolute;
                top: 80%;
                border-bottom: 4px double;
                width: 50px;
                margin: -13px 15px;
            }
            .extra_title > span:before{
                right: 100%;
            }
            .extra_title > span:after{
                left: 100%;
            }